@import "vars"

/*==========  Desktop First  ==========*/
@media only screen and (max-width : 1440px)
	.prev
		left: 15vw
	.next 
		right: 3vw
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/
	.menu__item
		margin-left: 25px
	.languages 
		margin-left: 25px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/
	.menu 
		display: none
	.menu__btn 
		cursor: pointer
		margin-left: 25px
	.menu__row 
		width: 25px 
		height: 3px 
		margin-bottom: 4px
		background: $text-color
	.menu__row:last-child 
		margin-bottom: 0
	.menu.active 
		background: #eaebec 
		position: absolute 
		top: 100% 
		left: 0 
		width: 100%
		display: block	
		padding-bottom: 25px
		ul 
			flex-direction: column
			align-items: flex-start	
	.menu__item 
		margin-top: 15px
	.menu__btn.active 
		.menu__row:last-child 
			display: none
		.menu__row:first-child
			transform: rotate(45deg) 
			margin-bottom: 0
			position: relative
			top: 3px
		.menu__row:nth-child(2)
			transform: rotate(-45deg) 
			margin-bottom: 0
	.menu__row
		transition: all 0.3s
	.introduction__content  
		width: 100%
		margin-bottom: 40px
	.item img 
		max-width: 70%
	.item 
		margin-bottom: 60px
	.items-section__title 
		margin-bottom: 60px
	.items-section 
		padding-bottom: 60px
	.footer__bottom 
		position: static
	.footer__social 
		margin-left: auto 
		margin-right: auto
		width: 200px
		display: flex 
		justify-content: space-between
		margin-top: 40px
		a 
			margin-right: 0
	.footer-logo 
		width: 100% 
		display: flex 
		justify-content: center
		margin-bottom: 40px
	.slide-text-wrapper 
		width: 90%
	.prev
		left: 3vw
	.next 
		right: 3vw
	.start-reno-item 
		max-width: 32%
	.group-of-blocks
		display: flex 
		flex-direction: column
	.project-type__wrapper 
		margin-bottom: 35px
		margin-right: 0
		width: 100%
	.group-of-blocks__content 
		width: 100%

			


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/
	.h2 
		font-size: 40px 
		line-height: 1.2
		margin-bottom: 25px
	.sub-title 
		font-size: 20px 
	.trustpilot__content 
		padding-left: 20px 
		padding-right: 20px
	.items-section__title 
		font-size: 25px
	.footer .col-lg-3:nth-child(4)
		margin-top: 40px
	.slide-num 
		width: 12vw 
		height: 12vw 
		font-size: 5vw
	.slide-title 
		font-size: 4vw
	.slider__item 
		.sub-title
			font-size: 3vw
	.prev
		left: 2.5vw
		max-width: 7vw
	.next 
		right: 2.5vw 
		max-width: 7vw
	.start-reno-items
		flex-wrap: wrap
		justify-content: center
	.start-reno-item 
		width: 274px 
		max-width: 43%
		margin: 10px
		height: 270px
	.reno-title 
		br 
			display: none

	
	


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/
	.logo 
		img 
			max-width: 35vw
	.menu__btn  
		margin-left: 5vw
	.languages 
		margin-left: 5vw
	.line 
		padding: 0 4px
	.header-content 
		padding-top: 15px 
		padding-bottom: 15px
	.top-header 
		padding: 7px 0
	body 
		font-size: 16px
	.main-screen
		margin-top: 38px
	.main-screen 
		padding-top: 125px
		padding-bottom: 250px
		.h2,
		.sub-title
			text-shadow: 1px 1px 2px #fff
	.h2 
		font-size: 35px 
	.trustpilot__content 
		padding-bottom: 40px
	.trustpilot 
		padding-bottom: 10px
	.introduction .sub-title 
		margin-bottom: 40px
	.items-section 
		padding-top: 90px
		padding-bottom: 30px
	.item img 
		width: 150px
		margin-bottom: 30px
	.footer 
		.container-fluid 
			max-width: 90vw
	.slick-dots 
		margin-top: 40px
	.process__text 
		margin-top: 40px
	.process 
		padding-top: 90px 
		padding-bottom: 90px
	.start-reno-item  
		width: 100%
		max-width: 100%
		margin: 0 
		margin-bottom: 25px
		height: 299px
	.reno-flow 
		padding-top: 150px
		padding-bottom: 60px
	.group-of-blocks 
		margin-top: 50px

	


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





